FlappyBirdProject/*.iml
FlappyBirdProject/.gradle
FlappyBirdProject/local.properties
FlappyBirdProject/idea/workspace.xml
FlappyBirdProject/.idea/libraries
FlappyBirdProject/.DS_Store
FlappyBirdProject/build
FlappyBirdProject/captures
FlappyBirdProject/.externalNativeBuild
