FlappyBirdProject/*.iml
FlappyBirdProject/.gradle
FlappyBirdProject/local.properties
FlappyBirdProject/idea
FlappyBirdProject/.DS_Store
FlappyBirdProject/build
FlappyBirdProject/captures
FlappyBirdProject/.externalNativeBuild
